<div class="body-servicos">
    <div class="menu-aside">
        <h2>ACESSO RÁPIDO</h2>
        <ul>
            <li><a href="#CENABIO">CENABIO</a></li>
            <li><a href="#CENABIO">CENABIO</a></li>
            <li><a href="#CENABIO">CENABIO</a></li>
        </ul>
    </div>
    <div class="texto">
        <h2>CENABIO</h2>
        <h3>Unidade de Imageamento de Pequenos Animais</h3>
        <p class="p-topico">Descrição:</p>
        <p class="p-texto">Plataformas Multi-usuário disponíveis nesta unidade: citometria de fluxo</p>

    </div>
</div>
